%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.4rem;

    &--light {
        color: $color-grey-light-1;
    }
}
.heading-2 {
    @extend %heading;
    font-size: 3.2rem;
    font-style: italic;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-primary-dark;
    }
}
.heading-3 {
    @extend %heading;
    font-size: 4rem;
    line-height: 1;
    font-style: italic;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }

}
.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}

.btn {
    border: none;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
}


.mb-sm {margin-bottom: 1rem;}
.mb-xm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-hg {margin-bottom: 8rem;}